Options +FollowSymlinks
Options -Indexes
RewriteEngine on




RewriteRule login_check$ index.php?p=login_check [L]
RewriteRule login_check/(.*)$ index.php?p=login_check&prm=$1 [L]
RewriteRule register_form$ index.php?p=register_form [L]
RewriteRule register_form/(.*)$ index.php?p=register_form&prm=$1 [L]
RewriteRule admin_bank_list$ index.php?p=admin_bank_list [L]
RewriteRule admin_bank_list/(.*)$ index.php?p=admin_bank_list&prm=$1 [L]
RewriteRule signup_img$ index.php?p=signup_img [L]
RewriteRule signup_img/(.*)$ index.php?p=signup_img&prm=$1 [L]
RewriteRule new_visitor$ index.php?p=new_visitor [L]
RewriteRule new_visitor/(.*)$ index.php?p=new_visitor&prm=$1 [L]
RewriteRule home_page$ index.php?p=home_page [L]
RewriteRule home_page/(.*)$ index.php?p=home_page&prm=$1 [L]
RewriteRule img_upload$ index.php?p=img_upload [L]
RewriteRule img_upload/(.*)$ index.php?p=img_upload&prm=$1 [L]
RewriteRule property_list$ index.php?p=property_list [L]
RewriteRule property_list/(.*)$ index.php?p=property_list&prm=$1 [L]
RewriteRule visitor_list$ index.php?p=visitor_list [L]
RewriteRule visitor_list/(.*)$ index.php?p=visitor_list&prm=$1 [L]
RewriteRule new_associate$ index.php?p=new_associate [L]
RewriteRule new_associate/(.*)$ index.php?p=new_associate&prm=$1 [L]
RewriteRule my_associates$ index.php?p=my_associates [L]
RewriteRule my_associates/(.*)$ index.php?p=my_associates&prm=$1 [L]
RewriteRule city_list$ index.php?p=city_list [L]
RewriteRule city_list/(.*)$ index.php?p=city_list&prm=$1 [L]
RewriteRule locality_list$ index.php?p=locality_list [L]
RewriteRule locality_list/(.*)$ index.php?p=locality_list&prm=$1 [L]
RewriteRule property_plan$ index.php?p=property_plan [L]
RewriteRule property_plan/(.*)$ index.php?p=property_plan&prm=$1 [L]
RewriteRule amenities_list$ index.php?p=amenities_list [L]
RewriteRule amenities_list/(.*)$ index.php?p=amenities_list&prm=$1 [L]
RewriteRule property_type$ index.php?p=property_type [L]
RewriteRule property_type/(.*)$ index.php?p=property_type&prm=$1 [L]